


<header>
        <div class="head">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="logo">IdelCar</h1></a>
            
        <nav>
            <ul>
                    <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Profile"><p class="logo">Аккaунт</p></a></li>
            </ul>
        </nav>
        </div>
    </header>



    

