<div class="descript">



<form asp-action=CreateRoteForm asp-controller="home">
                    <input type="text" name="BeginRoute" id="destination_start" placeholder="Откуда">
                    <input type="text" name="EndRoute" id="destination_end" placeholder="Куда">
                    <input type="date" name="date" id="date" placeholder="Выберите дату">
                    <input type="number" name="Cost" id="date" placeholder="Цена поездки">
                    <input type="number" name="CountPass" id="date" placeholder="Количество пассажиров">
                    <input type="submit" value="Создать">
                </form>

                </div>