@ViewBag.Route.BeginRoute;
@ViewBag.Route.EndRoute;

 <h2>Оставить заявку</h2> 

 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AddInRoutePassager" asp-route-id="@ViewBag.Route.IdRout"><h2>Оставить заявку</h2> </a>